data/reports/alert-report.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="endangered_species_alert_report">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="report_title" type="xs:string"/>

                <xs:element name="alert" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="alert_id" type="xs:string"/>
                            <xs:element name="alert_date" type="xs:string"/>

                            <xs:element name="species">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="species_name" type="xs:string"/>
                                        <xs:element name="conservation_status" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="trend_data" type="xs:string"/>
                            <xs:element name="recommended_action" type="xs:string"/>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>